$color_1: #fff;
$color_2: #000;
$color_3: #0061FF;
$color_4: white;
$color_5: gray;
$color_6: #ffffff;
$color_7: #939393;
$color_8: #f2f2f2;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #d9d9d9;
$background-color_2: #161815;
$background-color_3: #222222;
$background-color_4: #121212;

* {
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	box-sizing: border-box;
	transition: 0.5s;
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	box-sizing: border-box;
	transition: 0.5s;
}
body {
	background: #161815;
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	position: relative;
}
.section-padding {
	padding: 150px 0;
	gap: 20px;
	.container2 {
		padding: 3em;
		.row {
			display: flex;
			flex-direction: row-reverse;
			padding-right: 4em;
		}
	}
	.container3 {
		.row {
			text-align: left;
			display: flex;
			padding-right: 1em;
			font-size: 1em;
			font: arial;
			transform: translateX(16%) translateY(5%);
			left: 20%;
			top: 50%;
		}
	}
}
.about {
	.container {
		.row {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}
.carousel-item {
	height: 80vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 200px;
	z-index: 2;
	h5 {
		font-size: 45px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 25px;
	}
	p {
		width: 60%;
		margin: auto;
		font-size: 18px;
		line-height: 1.9;
	}
}
.carousel-inner {
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 30, 82, 0.327);
		z-index: 1;
	}
}
.navbar-nav {
	a {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 500;
	}
}
.navbar-dark {
	.navbar-brand {
		color: $color_1;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
	}
}
.navbar-light {
	.navbar-brand {
		&:focus {
			color: $color_2;
		}
		&:hover {
			color: $color_2;
		}
	}
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.nav-item {
	a {
		&:hover {
			color: $color_3;
		}
	}
}
.services {
	.card-body {
		i {
			font-size: 50px;
		}
	}
}
.team {
	.card-body {
		i {
			font-size: 20px;
		}
	}
}
.caja-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	margin-top: 150px;
}
.form-contact {
	background: #262626;
	width: 400px;
	box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
}
section {
	.propiedad-form-1 {
		width: 100%;
		background: #1b1b1b;
		overflow: hidden;
		color: $color_4;
		span {
			font-size: 100px;
			display: block;
			text-align: center;
			padding: 2.5rem;
		}
	}
}
.contact {
	padding: .8rem;
	overflow: hidden;
	color: $color_5;
	label {
		display: block;
		width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
	}
	input {
		display: block;
		width: 100%;
		margin-bottom: 5px;
		&:not([type='submit']) {
			border: none;
			border-bottom: 2px solid #161815;
			margin-bottom: 10px;
			font-size: 20px;
			outline: none;
			color: $color_5;
			border-radius: 9px;
			background-color: $background-color_1;
			padding-left: 9px;
		}
	}
	textarea {
		display: block;
		width: 100%;
		margin-bottom: 5px;
		border: none;
		border-bottom: 2px solid #161815;
		margin-bottom: 10px;
		font-size: 20px;
		outline: none;
		color: $color_5;
		border-radius: 9px;
		background-color: $background-color_1;
		padding-left: 9px;
		min-height: 100px;
	}
}
input[type='submit'] {
	padding: 10px;
	background: #0b49a7;
	border: none;
	color: $color_4;
	font-size: 20px;
	cursor: pointer;
	border-radius: 12px;
}
.main {
	background-color: $background-color_2;
}
.main-info {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-ctn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.main-title {
	margin: 100px 0 50px 0;
	font-size: 5rem;
	color: $color_3;
}
.main-text {
	width: 70rem;
	color: $color_6;
	line-height: 1.9;
	background-color: $background-color_3;
	border-radius: 30px;
	border: 2px solid #0061FF;
	padding: 20px;
}
.album-title {
	&:hover {
		color: $color_3;
		transition: 1.2s;
		cursor: pointer;
	}
}
.m-60 {
	margin-bottom: 60px;
}
.member-title {
	&:hover {
		color: $color_3;
		cursor: pointer;
		transition: 1.2s;
	}
}
.member-text {
	width: 40rem;
	color: $color_7;
}
.section-main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-section {
	width: 75rem;
}
.img-cir {
	border-radius: 250px;
}
footer {
	width: 100%;
	left: 0;
	padding: 2rem 8%;
	background-color: $background-color_2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 5;
}
.logo {
	height: 100px;
	margin-bottom: 1rem;
}
.social-icons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.footer-menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	list-style-type: none;
	color: $color_8;
	font-size: 18px;
}
.social-icon {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 1px solid #f2f2f2;
	background-image: url(img/facebook.png);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
	margin: 1rem;
	&:hover {
		background-color: $background-color_4;
		filter: invert(1);
	}
	&:nth-of-type(2) {
		background-image: url(img/instagram.png);
	}
	&:nth-of-type(3) {
		background-image: url(img/twitter.png);
	}
	&:nth-of-type(4) {
		background-image: url(img/youtube.png);
	}
}
.menu-item {
	margin: 1rem 1.5rem;
	cursor: pointer;
	opacity: 0.6;
	&:hover {
		opacity: 1;
		color: $color_3;
	}
}
.copyright {
	color: $color_8;
	opacity: 0.3;
	text-align: center;
}
@media (max-width: 767px ) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-item {
		height: 70vh;
	}
	.w-100 {
		height: 70vh;
	}
	.carousel-caption {
		bottom: 125px;
		h5 {
			font-size: 17pxs;
		}
		a {
			padding: 10px 15px;
			font-size: 15px;
		}
		p {
			width: 100%;
			line-height: 1.5;
			font-size: 12px;
		}
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
	.section-padding {
		padding: 50px 0;
	}
}
@media (max-width: 1120px ) {
	.main-text {
		width: 60rem;
	}
}
@media (max-width: 960px ) {
	.main-text {
		width: 50rem;
	}
}
@media (max-width: 800px ) {
	.main-text {
		width: 40rem;
	}
}
@media (max-width: 700px ) {
	.main-text {
		width: 30rem;
	}
}
